.agent-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.agent-summary {
  @include display-flex-center();
  background-color: $white-background;
  border: $border-solid-green;
  box-shadow: $box-shadow-green;
  opacity: $opacity-nine;
  margin: 1em 2em 0em 0em;
  padding-bottom: 1em;
  height: 10em;
  width: 90%;
}

.search-user {
  @include display-flex-center();
  opacity: $opacity-nine;
  height: 45em;
  margin-top: 1em;
  input {
    text-align: center;
    width: 50%;
    height: 2em;
    margin: 0.5em;
  }
  button {
    @include padding-margin-point-two-em();
    @include button-style();
    width: 50%;
  }
  label {
    font-weight: bold;
    margin: 0.5em;
  }
}

.agency-search-box {
  @include display-flex-center();
  background-color: $primary-background;
  border-radius: 0.5em;
  width: 70%;
}

.pending-summary,
.search-summary {
  background-color: $white-background;
  border: $border-solid-green;
  box-shadow: $box-shadow-green;
  opacity: $opacity-nine;
  padding: 1em;
  margin: 0em 1em 1em 0em;
  div {
    margin: 0.5em;
  }
  button {
    @include padding-margin-point-two-em();
    @include button-style();
    font-size: 0.9em;
    width: 100%;
  }
}

.agency-traveler-review {
  margin-top: 1.5em;
  label {
    background-color: $primary-background;
    border-radius: 0.5em;
    font-weight: bold;
    padding: 0.7em;
  }
}

#user-present-travel,
.pending-request,
.agency-search-results {
  @include overflow(45em)
  margin-top: 1.5em;
}

.search-error {
  color: red;
}

//Responsiveness//
@media screen and (max-width: 955px) {
  @include agent-summary-height-overflow();

  .agent-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 720px) {
  @include agent-summary-height-overflow();

  .agent-main {
    display: grid;
    grid-template-columns: 1fr;
  }
}
