@import 'variables';
@import 'mixins';
@import 'agent-styles';
@import 'traveler-styles';
@import 'login-styles';

body {
  background-color: $primary-background;
}

header {
  text-align: center;
  border-bottom: $border-solid-green;
  margin-bottom: 1em;
}
