/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: #bceef7;

body {
  background-color: $primary-background;
}

.login-section {
  display: flex;
  width: 20em;
  flex-direction: column;
}
