.login-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-section {
  @include display-flex-center();
  background-color: $white-background;
  border: $border-solid-green;
  box-shadow: $box-shadow-green;
  opacity: $opacity-nine;
  background-color: $white-background;
  border-radius: 0.5em;
  margin-top: 10%;
  padding: 0.5em;
  width: 15em;
  label, button {
    font-size: 1.1em;
  }
  input {
    text-align: center;
    width: 15em;
    height: 2em;
    margin: 1em;
  }
  button {
    @include padding-margin-point-two-em();
    border-radius: 0.5em;
    width: 50%;
    &:hover {
      background-color: $primary-background;
    }
  }
  .login-error-message {
    color: red;
  }
}
