@mixin display-flex-center() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin padding-margin-point-two-em() {
  padding: 0.2em;
  margin: 0.2em;
}

@mixin overflow($height) {
  height: $height;
  overflow: auto;
}
