@mixin display-flex-center() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin padding-margin-point-two-em() {
  padding: 0.2em;
  margin: 0.2em;
}

@mixin overflow($height) {
  height: $height;
  overflow: auto;
}

@mixin button-style() {
  border-radius: 0.5em;
  font-weight: 500;
  width: 80%;
  margin: 0.5em;
  padding: 0.5em;
  &:hover {
    background-color: $primary-background;
  }
}

@mixin agent-summary-height-overflow() {
  .search-user {
    height: 32em;
  }

  .agent-summary {
    width: 100%;
  }

  #user-present-travel,
  .pending-request,
  .agency-search-results {
    @include overflow(22em)
    margin-top: 1.5em;
  }
}

@mixin traveler-responsive-overflow() {
  .search-results,
  .trip-section {
    @include overflow(23em)
  }
}
