@mixin display-flex-center() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin padding-margin-point-two-em() {
  padding: 0.2em;
  margin: 0.2em;
}

@mixin overflow($height) {
  height: $height;
  overflow: auto;
}

@mixin button-style() {
  border-radius: 0.5em;
  font-weight: 500;
  width: 80%;
  margin: 0.5em;
  padding: 0.5em;
  &:hover {
    background-color: $primary-background;
  }
}
