.traveler-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.user-summary {
  @include display-flex-center();
  border: $border-solid-green;
  box-shadow: $box-shadow-green;
  background-color: $white-background;
  padding-bottom: 1em;
  margin: 1em 2em 0em 0em;
  width: 90%;
  height: 10em;
}

.user-trip-summary {
  @include display-flex-center();
  width: 95%;
  h2 {
    align-self: flex-start;
    font-size: 1em;
    border-bottom: 1px solid black;
  }
}

.trip-card {
  border: $border-solid-green;
  box-shadow: $box-shadow-green;
  background-color: $white-background;
  width: 80%;
  padding: 1em;
  margin-bottom: 1em;
  div {
    font-style: italic;
    margin: 0.1em;
    span {
      font-weight: bold;
    }
  }
}

.search-destination-section {
  @include display-flex-center();
  button {
    @include padding-margin-point-two-em();
    width: 50%;
  }
}

.search-results {
  height: 45em;
  overflow: auto;
}

.destination-image,
.search-destination-image {
  width: 100%;
  height: 50%;
  margin-bottom: 1em;
}
