$primary-background: #e1ede4;
$transparent-green-background: rgba(226, 238, 229, 0.7);
$border-solid-green: 1px solid #9fe3b0;
$box-shadow-green: 2px 2px #6ab07b;
$white-background: #f1fef1;
$opacity-nine: 0.9;
